site_name: Illini Karting
site_url: blog.illinikart.racing
theme:
    name: material
plugins:
    - blog
    - rss:
      match_path: blog/posts/.* 
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
